@page "/"

<h1>Welcome to the PeekaRepo!</h1>

This application was implemented as a part of a bachelor thesis at TU Vienna using blazor.<br />
The main purpose is to present a novel approach for branch state and conflict visualization.<br />
Simply connect to a GitHub repository and select a reference branch to analyze and check out the results.

<SurveyPrompt Title="How is Blazor working for you?" />
